<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/inputnumber.css" />
  <link rel="stylesheet" href="./css/index.css" />
  <title>购物车</title>
</head>

<body>
  <div class="app-container" id="app">
    <!-- 顶部banner -->
    <div class="banner-box"><img src="./img/fruit.jpg" alt="" /></div>
    <!-- 面包屑 -->
    <div class="breadcrumb">
      <span>🏠</span>
      /
      <span>购物车</span>
    </div>
    <!-- 购物车主体 -->
    <div class="main" v-if="fruitList.length">
      <div class="table">
        <!-- 头部 -->
        <div class="thead">
          <div class="tr">
            <div class="th">选中</div>
            <div class="th th-pic">图片</div>
            <div class="th">单价</div>
            <div class="th num-th">个数</div>
            <div class="th">小计</div>
            <div class="th">操作</div>
          </div>
        </div>
        <!-- 身体 -->
        <div class="tbody">
          <div v-for="(item,index) in fruitList" :key="item.id" :class="{tr:true,active:item.isChecked}">
            <div class="td"><input type="checkbox" v-model="item.isChecked" /></div>
            <div class="td"><img :src="item.icon" alt="" /></div>
            <div class="td">{{item.price}}</div>
            <div class="td">
              <div class="my-input-number">
                <button class="decrease" :disabled="item.num<=1" @click="minus(item.id)"> - </button>
                <span class="my-input__inner">{{item.num}}</span>
                <button class="increase" @click="add(index)"> + </button>
              </div>
            </div>
            <div class="td">{{item.price * item.num}}</div>
            <div class="td"><button @click="del(item.id)">删除</button></div>
          </div>

        </div>
      </div>
      <!-- 底部 -->
      <div class="bottom">
        <!-- 全选 -->
        <label class="check-all">
          <input type="checkbox" v-model="checkedAll" />
          全选
        </label>
        <div class="right-box">
          <!-- 所有商品总价 -->
          <span class="price-box">总价&nbsp;&nbsp;:&nbsp;&nbsp;¥&nbsp;<span class="price">{{totalPrice}}</span></span>
          <!-- 结算按钮 -->
          <button class="pay">结算( {{checkedNum}} )</button>
        </div>
      </div>
    </div>
    <!-- 空车 -->
    <div class="empty" v-else>🛒空空如也</div>
  </div>
  <script src="../vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        // 水果列表,优先拿本地数据
        fruitList: localStorage.getItem('fList') ? JSON.parse(localStorage.getItem('fList')) : [
          {
            id: 1,
            icon: './img/火龙果.png',
            isChecked: true,
            num: 2,
            price: 6,
          },
          {
            id: 2,
            icon: './img/荔枝.png',
            isChecked: false,
            num: 7,
            price: 20,
          },
          {
            id: 3,
            icon: './img/榴莲.png',
            isChecked: false,
            num: 3,
            price: 40,
          },
          {
            id: 4,
            icon: './img/鸭梨.png',
            isChecked: true,
            num: 10,
            price: 3,
          },
          {
            id: 5,
            icon: './img/樱桃.png',
            isChecked: false,
            num: 20,
            price: 34,
          },
        ],
      }, // 本地存储下来改变的状态
      watch: {
        fruitList: {
          deep: true,
          // immediate: false,
          handler(newValue) {
            console.log(newValue)
            localStorage.setItem('fList', JSON.stringify(newValue))
          }
        }
      },
      methods: {
        // minus(index) {
        //   if (this.fruitList[index].num < 2) return
        //   this.fruitList[index].num--
        // },
        minus(id) {
          // find()与filter()方法都是浅拷贝
          const fruit = this.fruitList.find(item => item.id === id)
          // if (fruit.num < 2) return
          // 在html里面写disabled也可以实现
          fruit.num--

        },
        add(index) {
          this.fruitList[index].num++
        },
        del(id) {
          this.fruitList = this.fruitList.filter(item => item.id !== id)
        },
      },
      computed: {
        totalPrice() {
          const checkedFut = this.fruitList.filter(item => item.isChecked === true)
          return checkedFut.reduce((sum, item) => sum + item.num * item.price, 0)
        },
        checkedNum() {
          const checkedFut = this.fruitList.filter(item => item.isChecked === true)
          return checkedFut.reduce((sum, item) => sum + item.num, 0)
        },
        checkedAll: {
          get() {
            // 小选框控制全选框
            return this.fruitList.every(item => item.isChecked)
          },
          set(value) {
            // 全选框控制小选框
            this.fruitList.forEach(item => item.isChecked = value)

          }
        }
      }

    })
  </script>
</body>

</html>